*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(223, 223, 183);
}

h1 {
    background-color: green;
}

#red {
    height: 30px;
    width: 30px;
    background-color: red;
    position: relative;
    left: 10px;
    top: 40px;
}
#blue {
    height: 30px;
    width: 30px;
    background-color: blue;
    position: relative;
    left: 20px;
    top: 30px;
}
#purple {
    height: 30px;
    width: 30px;
    background-color: purple;
    position: relative;
    left: 30px;
    top: 20px;
}
#yellow {
    height: 30px;
    width: 30px;
    background-color: yellow;
    position: relative;
    left: 40px;
    top:  10px;
}
#orange {
    height: 30px;
    width: 30px;
    background-color: orange;
    position: relative;
    left: 50px;
    top: 0px;
}
#green {
    height: 30px;
    width: 30px;
    background-color: green;
    position: relative;
    left: 60px;
    top: -10px;
}

.topbox{
    background-color: grey;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.leftbox{
    height: 50px;
    width: 50px;
    background-color: red;
}
.rightbox{
    height: 50px;
    width: 50px;
    background-color: blue;
}